# *created  "Mon Jan 31 17:18:46 2022" *by "Paul E. Black"
# *modified "Tue Mar  8 17:40:45 2022" *by "Paul E. Black"

# .gitignore for Vulnerability Test Suite Generator (VTSG)

# emacs backup and checkpoint files
*~
\#*\#

# Python compiled code
__pycache__
*.pyc

# Mac OS cache file
.DS_Store

# files created by LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof

# recreated from .eps as needed
*-eps-converted-to.pdf

# created from the original .tif files
fig_example_code*.png

# old documentation
ZOld

# end of .gitignore
