# *created  "Mon Jan 31 17:18:46 2022" *by "Paul E. Black"
# *modified "Tue Feb  8 10:12:38 2022" *by "Paul E. Black"

# .gitignore for Vulnerability Test Suite Generator (VTSG)

# emacs backup files
*~

# Python compiled code
__pycache__
*.pyc

# Mac OS cache file
.DS_Store

# end of .gitignore
