# *created  "Mon Jan 31 17:18:46 2022" *by "Paul E. Black"
# *modified "Mon Jan 31 17:19:10 2022" *by "Paul E. Black"

# .gitignore for VTSG

# emacs backup files
*~

# Python compiled code
__pycache__

# end of .gitignore
